@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="text-dark display-4">Welcome<p/>
    <p>Manage your expense and keep track of things you've borrowed or lent</p>
</div>
